In [1]:
import os
os.chdir("D:\Work flow")

In [2]:
import pandas as pd
data = pd.read_csv("#1.csv")

In [3]:
data.head()

,Unnamed: 0,Province/State,Country,Last Update,Confirmed,Deaths,Recovered,nDate
0,538,NaN,France,1/2/2020 1:52,6,0,0,2
1,548,NaN,UK,1/2/2020 1:52,2,0,0,2
2,555,Tibet,Mainland China,1/2/2020 1:52,1,0,0,2
3,605,NaN,France,1/2/2020 1:52,6,0,0,2
4,617,NaN,UK,1/2/2020 1:52,2,0,0,2

In [4]:
data = data.drop("Unnamed: 0",axis = 1)

In [5]:
data.head()

,Province/State,Country,Last Update,Confirmed,Deaths,Recovered,nDate
0,NaN,France,1/2/2020 1:52,6,0,0,2
1,NaN,UK,1/2/2020 1:52,2,0,0,2
2,Tibet,Mainland China,1/2/2020 1:52,1,0,0,2
3,NaN,France,1/2/2020 1:52,6,0,0,2
4,NaN,UK,1/2/2020 1:52,2,0,0,2

In [6]:
len(data["Province/State"].unique())

57

In [7]:
data = data.sort_values(by=['Province/State'])

In [8]:
data.reset_index()

,index,Province/State,Country,Last Update,Confirmed,Deaths,Recovered,nDate
0,173,Anhui,Mainland China,1/25/2020 12:00,60,0,0,25
1,426,Anhui,Mainland China,1/30/2020 21:30,237,0,3,30
2,516,Anhui,Mainland China,1/31/2020 19:00,237,0,3,31
3,369,Anhui,Mainland China,1/29/2020 21:00,200,0,2,29
4,688,Anhui,Mainland China,3/2/2020 0:53,408,0,7,36
5,45,Anhui,China,1/22/2020 12:00,1,0,0,22
6,666,Anhui,Mainland China,2/4/2020 0:43,480,0,14,35
7,265,Anhui,Mainland China,1/27/2020 20:30,106,0,0,27
8,83,Anhui,Mainland China,1/23/2020 12:00,9,0,0,23
9,318,Anhui,Mainland China,1/28/2020 23:00,152,0,0,28
10,139,Anhui,Mainland China,1/24/2020 12:00,15,0,0,24
11,602,Anhui,Mainland China,2/2/2020 1:33,340,0,5,33
12,219,Anhui,Mainland China,1/26/2020 23:00,70,0,0,26
13,457,Arizona,US,1/30/2020 21:30,1,0,0,30
14,296,Arizona,US,1/27/2020 20:30,1,0,0,27
15,348,Arizona,US,1/28/2020 23:00,1,0,0,28
16,249,Arizona,US,1/26/2020 23:00,1,0,0,26
17,401,Arizona,US,1/29/2020 21:00,1,0,0,29
18,546,Arizona,US,1/31/2020 19:00,1,0,0,31
19,473,Bavaria,Germany,1/30/2020 21:30,4,0,0,30
20,417,Bavaria,Germany,1/29/2020 21:00,4,0,0,29
21,311,Bavaria,Germany,1/27/2020 20:30,1,0,0,27
22,363,Bavaria,Germany,1/28/2020 23:00,4,0,0,28
23,562,Bavaria,Germany,1/31/2020 19:00,7,0,0,31
24,46,Beijing,China,1/22/2020 12:00,14,0,0,22
25,84,Beijing,Mainland China,1/23/2020 12:00,22,0,0,23
26,324,Beijing,Mainland China,1/28/2020 23:00,91,1,4,28
27,174,Beijing,Mainland China,1/25/2020 12:00,51,0,2,25
28,375,Beijing,Mainland China,1/29/2020 21:00,111,1,4,29
29,432,Beijing,Mainland China,1/30/2020 21:30,121,1,5,30
...,...,...,...,...,...,...,...,...
670,563,NaN,Finland,1/31/2020 19:00,1,0,0,31
671,564,NaN,United Arab Emirates,1/31/2020 19:00,4,0,0,31
672,565,NaN,Philippines,1/31/2020 19:00,1,0,0,31
673,566,NaN,India,1/31/2020 19:00,1,0,0,31
674,567,NaN,Italy,1/31/2020 19:00,2,0,0,31
675,568,NaN,Sweden,1/31/2020 19:00,1,0,0,31
676,569,NaN,Russia,1/31/2020 19:00,2,0,0,31
677,570,NaN,Spain,1/31/2020 19:00,1,0,0,31
678,571,NaN,UK,1/31/2020 19:00,2,0,0,31
679,572,NaN,France,2/1/2020 1:52,6,0,0,32
680,573,NaN,UK,2/1/2020 1:52,2,0,0,32
681,575,NaN,Sweden,2/1/2020 2:13,1,0,0,32
682,579,NaN,Japan,2/1/2020 18:53,20,0,1,32
683,586,NaN,Spain,2/1/2020 23:43,1,0,0,32
684,595,NaN,Singapore,2/2/2020 1:03,18,0,0,33
685,597,NaN,Singapore,2/2/2020 1:03,18,0,0,33
686,598,NaN,Singapore,2/2/2020 1:03,18,0,0,33
687,608,NaN,South Korea,2/2/2020 2:23,15,0,0,33
688,609,NaN,South Korea,2/2/2020 2:23,15,0,0,33
689,610,NaN,South Korea,2/2/2020 2:23,15,0,0,33
690,618,NaN,Philippines,2/2/2020 3:33,2,1,0,33
691,619,NaN,Philippines,2/2/2020 3:33,2,1,0,33
692,620,NaN,Philippines,2/2/2020 3:33,2,1,0,33
693,628,NaN,United Arab Emirates,2/2/2020 5:43,5,0,0,33
694,629,NaN,United Arab Emirates,2/2/2020 5:43,5,0,0,33
695,630,NaN,India,2/2/2020 6:03,2,0,0,33
696,635,NaN,Germany,2/2/2020 18:03,10,0,0,33
697,653,NaN,Germany,2/3/2020 20:53,12,0,0,34
698,654,NaN,Vietnam,2/3/2020 21:43,8,0,1,34
699,655,NaN,India,2/3/2020 21:43,3,0,0,34

In [9]:
data = data.set_index(["Country",'Province/State'])

In [10]:
data.head()

                                   Last Update  Confirmed  Deaths  Recovered  \
Country        Province/State
Mainland China Anhui           1/25/2020 12:00         60       0          0
               Anhui           1/30/2020 21:30        237       0          3
               Anhui           1/31/2020 19:00        237       0          3
               Anhui           1/29/2020 21:00        200       0          2
               Anhui             3/2/2020 0:53        408       0          7

                               nDate
Country        Province/State
Mainland China Anhui              25
               Anhui              30
               Anhui              31
               Anhui              29
               Anhui              36

In [11]:
china = pd.DataFrame(data.loc[["Mainland China","China"]])

In [12]:
#data.reset_index(level = 2, inplace = True, col_level = 1)
china = china.sort_values(by=['Country'])

In [14]:
data.to_csv("#1PK.csv")

In [15]:
china.to_csv("#1china.csv")